*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    background-color: black;
    width: 25%;
    height: 90vh;
margin: 40px auto;
border-radius: 30px;

}
.inp {
   display: flex;
   justify-content: center;


}
.inp input{
    width: 85%;
    height: 60px;
border: none;
margin-top: 30px;
border-radius: 10px;
font-size: 2rem;
font-weight: bolder;
padding-left: 10px;
background-color: rgba(188,205,149,255);
}
#inp::placeholder{
/* padding-left: 10px; */
font-weight: bolder;


}
.btns{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.btns button{
    /* border: 1px solid red; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color:rgba(154,154,154,255);
    border: none;
   
}